.profiles{
    display: flex;
    margin: auto;

    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 80%;
    margin-top: 3rem;
}

.titr_profile{
    color: hsl(197, 80%, 46%);
    font-weight: bold;
}

.profile-photo{
   width: 100%;
   height: 100%;
   border-radius: 50%;
   margin-top: 10px;
   margin-left: auto;
}
.change-password-button{
    text-decoration: none;
    color: gray;
    font-size: 13px;
}