
.mere-cards{
    margin-top: 200px;
}


.btn-commentaire{
    /* border: 1px solid rgb(130, 130, 249); */
    background: none;
}

.btn-livrables{
    width: 100%;
}


/* livraison.css */

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .livraison-container {
    margin-top: 20px;
  }
  
  .card-wrapper {
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .btn {
    margin: 5px;
  }
  

  .custom-modal .modal-body {
    padding: 20px;
  }
  