/* .merelibraison{
    background-color: rgb(224, 227, 229);
    height: 120vh;
} */


.mere-cards{
    margin-top: 200px;
}


.btn-commentaire{
    border: 1px solid rgb(130, 130, 249);
    background: none;
}

.btn-livrables{
    width: 100%;
}


/* livraison.css */

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }