.chartstats{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    margin-top: 5rem;
}
.statistique{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 6rem;

}