.dashboarddemaandeabsences{
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttoncsv{
    margin-left: -88px;
}