.dashboarddemaandeabsences{
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}








@media screen and (min-width: 320px){
    .buttoncsv2{
        margin-left: 100px; 
       }  
}




@media screen and (min-width: 768px){
    .buttoncsv2{
        margin-left: -190px; 
       } 
}









@media screen and (min-width: 1024px){
    .buttoncsv2{
        margin-left: -487px; 
       } 
}