.bulletin{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: hsl(197, 80%, 46%);
    font-weight: 700; 
    font-size: 1.5rem;
}

.tichedu{
    width: 100px;
    height: 70px;
    /* margin-left: auto; */
}

.h5{
    color: hsl(197, 80%, 46%);
    font-weight: 700; 
    font-size: 2rem;
}

.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 2rem;
}

.btnbulletin{
    margin-left: -88px;
}
.resultat{
    border: 2px solid gray;
}
.div_bultin{
    display: flex;
    justify-content: space-between;
}
.forminput{
    margin: 0px;
    border: none; 
  background-color: transparent; 
  outline: none;
}
label{
    margin-left: auto;
}