.bodyy{
background-color: rgb(224, 227, 229);
height: 129vh;
}


.h3pr{
    color: black;
}




/* RESPONSIVE */

@media screen and (min-width: 320px) {
    .bodyy{
        height: 340vh;
        }

}





/* responsive mode tablet */
@media screen and (min-width: 768px) {
    .bodyy{
        height: 230vh;
        }
}

/* responsive mode laptop */

@media screen and (min-width: 1024px) {
    .bodyy{
        height: 100%;
        }
}