.table-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden; /* Ensures the border-radius is visible */
    transition: box-shadow 0.3s ease; /* Smooth transition effect */
}

.table-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* 
.full-width-button {
    width: 50%;
} */
